service dema-rc-btn /data/ftp/internal_000/dema-rc/usr/bin/dema-rc-btn
	class main
	user root

service dema-rc-cm /data/ftp/internal_000/dema-rc/usr/bin/dema-rc-cm
	class main
	user root
	disabled

service dema-rc /data/ftp/internal_000/dema-rc/usr/bin/dema-rc
	class main
	user root
	setenv LD_LIBRARY_PATH /data/ftp/internal_000/dema-rc/usr/lib
	disabled
